body, html {
  height: 100%;
}

* {
  box-sizing: border-box;
}

div-first{
	display: inline;
}

.bg-img {
  /* The image used */
 background-image: url("login_back.jpg");

  /* Control the height of the image */
 	height: 100%;
 	

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

/* Add styles to the form container */
.container {
 position: absolute;
  margin: 225px;
  font-family: georgia,garamond,serif;
  border-style: outset;
  border-width: 5px;
  margin-right: 500px;
  margin-left: 600px;
  max-width: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 10px;
  background-color: white;

}

/* Full-width input fields */
  input[type=text], input[type=password] {
  
  border-style: solid;
  border-width: 5px; 
  width: 100%;
  padding: 15px;
  margin: 1px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  border-style: inset;
  border-width: 2px;
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #5e420c;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  border-style: outset;
  border-width: 3px;
  width: 100%;
  opacity: 0.9;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  opacity: 1;
}
